* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  .toggle-sidebar {
    border: none;
    background-color: #3097af;
    color: white;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .sidebar {
    height: 100vh;
    width: 200px;
    list-style: none;
    background-color: #3097af;
  }
  .sidebar li a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid silver;
    transition: background-color 0.5s;
  }
  .sidebar li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .sidebar {
    height: 100vh;
    width: 200px;
    list-style: none;
    background-color: #3097af;
    /* tambahkan kode ini */
    position: fixed;
    left: -200px;
    transition: 0.5s;
  }
  /* tambahkan selector .sidebar-open di css */
  .sidebar-open {
    left: 0;
  }

  